[alias]
	co = checkout
	push-f = push --force-with-lease
  commit = commit --author="chihaso <cycyccq@gmail.com>"
	s = status
	prom = pull --rebase origin master
  b = branch
[user]
	name = chihaso
	email = cycyccq@gmail.com
